# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
coverage/

# prisma
prisma/migrations/dev/

# CDK
infra/cdk.out/

# IDE
.vscode/
.idea/
